certifi==2018.1.18
Zope2==4.0b1
Cython==0.28.1
ipython==6.2.1
pyOpenSSL==17.5.0
Sybase==0.35
anyjson==0.3.3
Babel==2.5.3
backports.functools_lru_cache==1.5
blinker==1.4
cdecimal==2.3
colour==0.1.5
com==1.0.0
cx_Oracle==6.2.1
ed25519ll==0.6
flask_babel==0.11.2
flask_babelex==0.9.3
protobuf==3.5.2.post1
greenlet==0.4.13
ipaddr==2.2.0
java==0.0.1
keyring==12.0.0
lxml==4.2.1
python_memcached==1.59
mx==3.2
ndg_httpsclient==0.4.4
nose==1.3.7
nt==0.0.0
numpy==1.14.2
org==1.0.0
pgdb==0.0.7a0
pretty==0.1
pyasn1==0.4.2
pylibmc==1.5.2
pysqlcipher3==1.0.2
adhocracy_pysqlite==2.6.3
pytest==3.5.0
redis==2.10.6
simplejson==3.13.2
termcolor==1.1.0
total_ordering==0.1.0
usercustomize==1.0.0
uwsgi==2.0.17
watchdog==0.8.3
wincertstore==0.2
pyxdg==0.26
pytest_xdist==1.22.2
